body {
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Helvetica", "sans-serif";
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 4px 16px;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: #3882f6;
  font-size: 18px;
  color: #f9faf8;
  flex-shrink: 0;
}

.header,
.hero,
.content,
.quote,
.signup,
.footer {
  padding: 0 80px;
}

/* Header, hero, footer colors/font */
.header,
.hero,
.footer {
  background-color: #1f2937;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-links a,
.hero-secondary-text,
.hero-right {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}

/* Header, hero layout */
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-links {
  display: flex;
  gap: 16px;
}

.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.hero-left,
.hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-right {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-button {
  align-self: flex-start;
}

/* Content styling and layout */
.content {
  color: #1f2937;
  padding-bottom: 80px;
}

.content-title {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.content-subtext {
  font-size: 16px;
}

.content-image {
  border: 4px solid #3882f6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.content-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
  gap: 8px;
}

/* Quote styling and layout */
.quote {
  background-color: #e5e7eb;
  padding: 80px 160px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quote-text,
.quote-author {
  color: #1f2937;
}

.quote-text {
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
}

.quote-author {
  font-size: 18px;
  font-weight: bold;
  align-self: flex-end;
}

/* Sign up styling and layout */
.signup {
  background-color: #3882f6;
  border-radius: 5px;
  color: #f9faf8;
  margin: 80px;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
}

.signup-title {
  font-weight: bold;
  font-size: 20px;
}

.signup-text {
  font-size: 16px;
}

.signup-button {
  border: 2px solid #f9faf8;
  align-self: center;
}

.signup-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Footer styling and layout */
.footer {
  color: #f9faf8;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
