body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title-section,
.content-section,
.quote-section,
.footer {
  flex: 1;
}