* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.title-section,
.content-section,
.quote-section,
.signup-section {
  padding: 0 120px;
}


.title-section,
.content-section,
.quote-section,
.footer-section {
  flex: 1;
}

.header {
  background-color: #1f2937;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #e5e7eb;
}

.title-section {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  display: flex;
  padding: 64px 0;
  gap: 64px;
}

.website-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.main-title {
  color: #f9faf8;
  font-size: 28px;
  font-size: 36px;
}

.main-description {
  color: #e5e7eb;
  font-size: 18px;
}

.title-image {
  flex: 1;
  background-color: gray;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 4px 16px;
}

.website-description .signup-button {
  margin-top: 8px;
}

.content-section {
  padding-bottom: 64px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-title {
  color: #1f2937;
  font-size: 28px;
  font-weight: bold;
  padding: 32px 0;
}

.content-card-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 32px;
}

.content-card {
  /* width: 80px; */
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.content-image {
  flex-shrink: 1;
  border: 2px solid #3882f6;
  width: 115px;
  height: 115px;
}

.content-text {
  width: 115px;
  color: #1f2937;
  font-size: 12px;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  max-width: 572px;
  align-items: center;
  justify-content: center;
  padding: 64px 32px;
  color: #1f2937;
}

.quote-text {
  font-style: italic;
  font-weight: 200;
  font-size: 24px;
}

.quote-author {
  align-self: flex-end;
  font-weight: bold;
  font-size: 18px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.signup-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.signup-container {
  padding: 48px 0;
}

.signup-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  padding: 24px 72px;
}

.signup-banner .signup-button {
  border: solid 1px #f9faf8;
}

.signup-title {
  color: #f9faf8;
  font-weight: bold;
  font-size: 18px;
}

.signup-text {
  color: #e5e7eb;
  font-size: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #1f2937;
  color: #e5e7eb;
  padding-top: 16px;
  padding-bottom: 16px;
}
