body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title-section,
.content-section,
.quote-section,
.footer {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 16px;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.website-description {
  width: 40%;
}

.title-image {
  width: 40%;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
}

.content-card {
  max-width: 150px;
  text-align: center;
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-author {
  align-self: flex-end;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-section {
  flex: 1;
}

.signup-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

